@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    
    
    background-color: #ebebec;
    scroll-behavior: smooth;
    font-family: 'Comfortaa', cursive;
    ;
}

.font-dos {
    font-family:  'Ultra', serif;
  }